nbconvert
jupyter
Pandoc
pandas<=2.0.3
numpy<1.21,>=1.17
scipy==1.10
matplotlib<3.5.0
seaborn
numba==0.56.4
pytest
tdt
mne==1.5.1
ipywidgets
cachey
cached_property
dask[complete]==2022.12.1
ipympl
sphinx-rtd-theme
h5py
xlrd
openpyxl
pillow>=7.1.0
cycler>=0.10
tqdm
ipykernel
plotly==5.15.0
plotly_resampler==0.8.3.2
nbformat
dash==2.14.2
dash-bootstrap-components==1.5.0
dash-extensions==1.0.7